* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-play: #282828 ;
    --bg-main: #141922;
    --bg-grey-text: #7D7F84;
}


/* main  */

/* marco structure */

main {
    height: 100vh;
}

.bar-header {
    height: 4rem;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
}

.bar-header button {
    background-color: transparent;
    color: white;
    font-size: .7em;
    position: absolute;
    top: 1rem;
    right: 4rem;
    padding: .5em 2em;
    border-radius: 2rem;
    border: 1px solid white;
}

.main-row {
    display: flex;
}

.bar-nav {
    background-color: black;
    width: 17%;
    height: calc(100vh - 5rem) ;
    overflow-y: hidden;
    z-index: 900;
}

.main-section {
    background-color: var(--bg-main);
    color: white;
    width: 83%;
    height: calc(100vh - 5rem);
    overflow-y: auto;
    padding: 4rem 1.5rem 2rem;
}

.player {
    height: 5rem;
    width: 100%;
    background-color: var(--bg-play);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* main-section content  */

.row h2 {
    margin: 1rem 0;
}

nav ul {
    color: var(--bg-grey-text);
    font-size: .8em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none ;
    padding: .5rem;
}

.squares {
    display: flex;
    gap: 1rem;
}

.square img {
    height: 12em;
}

.square {
    font-size: .9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.square div {
    color: var(--bg-grey-text);
}